.akanName {
  text-align: center;
}
.description {
  text-align: center;
  margin-top: 100px;
}
.names {
  margin-top: 70px;
}
.Gender {
  margin-top: 50px;
  margin-bottom: 20px;
}
.DOBform {
  margin-top: 50px;

}

.button {
  margin-top: 20px;
  margin-left: 20px;
}
#output-name {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
}
